.custom_bg{
	background-color: #FFAEC9;
	padding: 10px 0px;
	margin-bottom: 10px;
}
.abc{
	background-color: #99D9EA;
	min-height: 100px;
	margin: 10px 0px;
}
.red{
	background-color: #ED1C24;
}